html,
body,
#app,
#container {
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}

#home-page {
    background-color: $global-background-color;
}

%center-xy {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

%center-y {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

%no-select {
    -webkit-touch-callout: none; // iOS Safari
    -webkit-user-select: none;   // Chrome/Safari/Opera
    -khtml-user-select: none;    // Konqueror
    -moz-user-select: none;      // Firefox
    -ms-user-select: none;       // IE/Edge
    user-select: none;
}

// Section
.section {
    @include box-shadow(1px, 4px, 0, rgba(0, 0, 0, 0.04), 0);
    background-color: $section-body-color;
    margin-bottom: $global-margin;
    border-radius: $default-border-radius;
    overflow: hidden;

    .section-title {
        @include light-font($font-size--sm);
        color: $white;
        padding-left: $global-margin;
        padding-top: $section-title-y-padding;
        padding-bottom: $section-title-y-padding;
        background-color: $section-title-background-color;
    }

    .section-body {
        border: solid 1px rgba(0, 0, 0, 0.09);
    }

}
