html,
body,
#app,
#container {
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}

.mobile-shift {

    @include transition(.3s);
    left: 0;

    @media screen and (max-width: $mobile-break-width) {
        &.open-left {
            left: $filter-bar-width !important;
        }

        &.open-right {
            left: -$event-playlist-width !important;
        }
    }
}

%center-xy {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

%center-y {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

%no-select {
    -webkit-touch-callout: none; // iOS Safari
    -webkit-user-select: none;   // Chrome/Safari/Opera
    -khtml-user-select: none;    // Konqueror
    -moz-user-select: none;      // Firefox
    -ms-user-select: none;       // IE/Edge
    user-select: none;
}
