@mixin box-shadow($top, $left, $blur, $color, $inset: false) {
    @if $inset {
        -webkit-box-shadow: inset $top $left $blur $color;
        -moz-box-shadow: inset $top $left $blur $color;
        box-shadow: inset $top $left $blur $color;
    } @else {
        -webkit-box-shadow: $top $left $blur $color;
        -moz-box-shadow: $top $left $blur $color;
        box-shadow: $top $left $blur $color;
    }
}

@mixin regular-font($font-size) {
    font-family: sf-ui-text-regular;
    font-size: $font-size;
}

@mixin light-font($font-size) {
    font-family: sf-ui-text-light;
    font-size: $font-size;
}

@mixin medium-font($font-size) {
    font-family: sf-ui-text-bold;
    font-size: $font-size;
}

@mixin bold-font($font-size) {
    font-family: sf-ui-text-medium;
    font-size: $font-size;
}

@mixin transition($time) {
    -webkit-transition: all $time; // Chrome
    -moz-transition: all $time; // Mozilla
    -o-transition: all $time; // Opera
    transition: all $time;
}

@mixin transparent-background-color-mixin($alpha, $color) {
    background-color: rgba(red($color), green($color), blue($color), $alpha);
}

@mixin box-sizing($box-model) {
    -webkit-box-sizing: $box-model; // Safari <= 5
    -moz-box-sizing: $box-model; // Firefox <= 19
    box-sizing: $box-model;
}

@mixin background-clip($model) {
    -moz-background-clip: $model;     // Firefox 3.6
    -webkit-background-clip: $model;  // Safari 4? Chrome 6?
    background-clip: $model + '-box';  // Firefox 4, Safari 5, Opera 10, IE 9
}

@mixin linear-gradient($direction, $start-color, $end-color) {
    background: $black; // default
    background-image: -webkit-radial-gradient($direction, $start-color, $end-color);
    background-image: -moz-radial-gradient($direction, $start-color, $end-color);
    background-image: -o-radial-gradient($direction, $start-color, $end-color);
    background-image: linear-gradient($direction, $start-color, $end-color);
}

@mixin radial-gradient($fromColor, $toColor) {
    background: -webkit-radial-gradient($fromColor, $toColor); /* Safari 5.1 to 6.0 */
    background: -o-radial-gradient($fromColor, $toColor); /* For Opera 11.6 to 12.0 */
    background: -moz-radial-gradient($fromColor, $toColor); /* For Firefox 3.6 to 15 */
    background: radial-gradient($fromColor, $toColor); /* Standard syntax */
}

@mixin filter($filter-type, $filter-amount) {
    -webkit-filter: $filter-type + unquote('(#{$filter-amount})');
    -moz-filter: $filter-type + unquote('(#{$filter-amount})');
    -ms-filter: $filter-type + unquote('(#{$filter-amount})');
    -o-filter: $filter-type + unquote('(#{$filter-amount})');
    filter: $filter-type + unquote('(#{$filter-amount})');
}

@mixin multiple-filters($filters) {
    -webkit-filter: $filters;
    -moz-filter: $filters;
    -ms-filter: $filters;
    -o-filter: $filters;
    filter: $filters;
    -webkit-transform: translateZ(0);
}

@mixin no-selection() {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
}

@mixin transform($transform) {
    -webkit-transform: $transform;
    transform: $transform;
}

@mixin basic-button() {
    @include light-font($font-size--sm);
    @include no-selection();

    background-repeat: no-repeat;
    background-color: $button-color;
    border: 0;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    padding: $button-padding-y $button-padding-x $button-padding-y $button-padding-x;
    border-radius: $default-border-radius;
    text-decoration: none;
    color: $white;

    @include nope(touchevents) {
        &:hover {
            background-color: $button-hover-color;
        }
    }
}
