// colors
$g1-start: #5C258D;
$g1-end: #4389A2;
$white: white;
$black: black;
$soundcloud-orange: #e17321;
$flickr-blue: #2C97DE;
$interfacelift-red: #E94B35;
$gray: #B1B1B1;

// document sizing
$doc-min-height: 300px;
$doc-min-width: 320px;
// spacing
$full-space: 40px;
$half-space: 20px;

// player sizing
$player-width: 100%;
$player-collapse: 600px;
$player-height: 100px;
$player-opacity: .85;

// font sizing
$font-size--xs: 10px;
$font-size--sm: 12px;
$font-size--md: 16px;
$font-size--lg: 24px;
$font-size--xl: 32px;
