// colors
$g1-start: #5C258D;
$g1-end: #4389A2;
$white: white;
$black: black;
$soundcloud-orange: #e17321;
$flickr-blue: #2C97DE;
$facebook-blue: #3894FC;
$twitter-blue: #24CCFD;
$interfacelift-red: #E94B35;
$gray: #B1B1B1;
$purple: #8E5BD6;
$toggle-background-color: rgb(33, 33, 33);
$toggle-hover-background-color: rgb(17, 17, 17);
$panel-background-color: #282828;
$panel-border-color: #181818;

// document sizing
$doc-min-height: 300px;
$doc-min-width: 320px;

// spacing
$full-space: 40px;
$half-space: 20px;

// player sizing
$player-width: 100%;
$player-collapse: 600px;
$player-height: 75px;
$player-opacity: .85;

// font sizing
$font-size--xs: 10px;
$font-size--sm: 12px;
$font-size--md: 16px;
$font-size--lg: 24px;
$font-size--xl: 32px;

// Home Page Sizing
$header-height: 80px;
$filter-bar-width: 225px;
$event-playlist-width: 300px;
$mobile-break-width: 1050px;
$tiny-break-width: 550px;

// Header sizing
$header-button-width: 50px;

// Event Detail Page Sizing
$event-detail-left-margin: 25px;
$event-detail-primary-image-size: 200px;
$event-detail-secondary-image-size: 100px;
$event-detail-share-button-size: 40px;

// Filter Bar Page Sizing
$filter-bar-left-margin: 15px;
