// colors
$g1-start: #5C258D;
$g1-end: #4389A2;
$white: white;
$black: black;
$soundcloud-orange: #e17321;
$flickr-blue: #2C97DE;
$facebook-blue: #3894FC;
$twitter-blue: #24CCFD;
$interfacelift-red: #E94B35;
$gray: #B1B1B1;
$purple: #975de8;
$toggle-background-color: rgb(33, 33, 33);
$toggle-hover-background-color: rgb(17, 17, 17);
$global-background-color: #333333;
$section-title-background-color: #2C2C2C;
$section-body-color: #404040;
$section-body-detail-color: #4D4D4D;
$event-playlist-divider-color: #3a3a3a;

// document sizing
$doc-min-height: 300px;
$doc-min-width: 320px;
$default-border-radius: 4px;

// spacing
$full-space: 40px;
$half-space: 20px;
$global-margin: 18px;

$filter-bar-left-padding: 80px;
$filter-bar-width: 274px;

$event-playlist-width: 327px;
$event-playlist-right-padding: 64px;

// player sizing
$player-width: 100%;
$player-collapse: 600px;
$player-height: 75px;
$player-opacity: .85;

// section sizing
$section-title-y-padding: 10px;

// font sizing
$font-size--xs: 10px;
$font-size--sm: 13px;
$font-size--md: 16px;
$font-size--lg: 24px;
$font-size--xl: 32px;

// Home Page Sizing
$header-height: 40px;
$event-playlist-width: 300px;
$mobile-break-width: 800px;
$tiny-break-width: 550px;

// Header sizing
$header-button-width: 50px;

// Event Detail Page Sizing
$event-detail-left-margin: 25px;
$event-detail-primary-image-size: 150px;
$event-detail-secondary-image-size: 100px;
$event-detail-share-button-size: 30px;

// Button vars
$button-padding-y: 10px;
$button-padding-x: 20px;

// Song vars
$event-detail-song-selected-color: #616161;
$event-detail-song-hover-color: #575757;
