#bickgroundimage-container {
    @extend %no-select;
    opacity: 0;
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    overflow: hidden;

    #background-img {
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        transform: scale(1.03);

        &.tall {
            height: 100%;
            width: auto;
        }

        &.wide {
            height: auto;
            width: 100%;
        }
    }

    #player-blur-container {
        position: absolute;
        opacity: 0;
        left: 0;
        top: calc(100% - 100px);
        width: $player-width;
        height: 100px;
        overflow: hidden;

        img {
            @include filter(blur, 10px);
            position: absolute;
            left: 0;
            top: 0;
            transform: scale(1.03);

            &.tall {
                height: 100%;
                width: auto;
            }

            &.wide {
                height: auto;
                width: 100%;
            }
        }
    }
}

#logo {
    position: absolute;
    top: 20px;
    left: 20px;
    height: 100px;
    width: 310px;

    svg {
        text {
            dominant-baseline: middle;
            font-family: stellarlight;
            font-size: 80px;
            text-anchor: middle;
            letter-spacing: 5px;
        }
    }

    @media screen and (max-width: $player-collapse) {
        left: 0;
        right: 0;
        margin: auto;
    }

}
