#event-playlist {
    position: absolute;
    right: 0;
    top: $header-height;
    height: calc(100% - #{$header-height} - #{$player-height});
    width: $event-playlist-width;
    background-color: $panel-background-color;
    overflow: scroll;
    z-index: 1;

    @media screen and (max-width: $mobile-break-width) {
        height: 100%;
        top: 0;
        right: 0;
        z-index: 0;
        background-color: $panel-border-color;
    }
}

$img-thumbnail-size: 40px;
$img-thumbnail-margin: 10px;
$dot-spacing: 5px;
$bottom-font-size: 14px;
$top-font-size: 18px;

.event-playlist-node {
    width: 100%;
    height: calc(#{$img-thumbnail-size} + (2 * #{$img-thumbnail-margin}));
    display: block;
    position: relative;
    cursor: pointer;

    &:hover {
        background-color: gray;
    }

    &.selected {
        .artist-img-wrapper {
            @include box-sizing(border-box);

            border: 3px solid $white;
        }
    }

    .left-content {

        display: inline-block;
        float: left;
        width: calc((2 * #{$img-thumbnail-margin}) + #{$img-thumbnail-size});
        height: 100%;

        .artist-img-wrapper {
            width: $img-thumbnail-size;
            height: $img-thumbnail-size;
            margin: $img-thumbnail-margin;
            border-radius: 5px;
            overflow: hidden;
        }
    }

    .right-content {

        @extend %center-y;

        display: inline-block;
        float: right;
        width: calc(100% - ((2 * #{$img-thumbnail-margin}) + #{$img-thumbnail-size}));
        color: $white;

        .top {
            @include regular-font($top-font-size);
            // padding-left: $img-thumbnail-margin;
            .name {

            }
        }

        .bottom {

            @include regular-font($bottom-font-size);

            // padding-left: $img-thumbnail-margin;

            .venue-name {
                display: inline-block;
                padding-right: $dot-spacing;
            }

            .for-date {
                display: inline-block;
                padding-left: $dot-spacing;
            }
        }



    }
}
