#event-detail {

    @include box-sizing(border-box);

    z-index: 2;
    position: fixed;
    bottom: $player-height;
    top: $header-height;
    width: calc(100% - #{$event-playlist-width} - #{$filter-bar-width});
    left: $filter-bar-width;
    border-left: 4px solid $panel-border-color;
    border-right: 4px solid $panel-border-color;
    background-color: $panel-background-color;

    #event-detail-background-image-wrapper {
        width: 100%;
        height: 100%;
        overflow: hidden;

        .centered-image {
            @include multiple-filters(blur(15px) brightness(.6));
        }
    }

    #event-detail-content {
        overflow: scroll;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        .event-detail-node {
            display: flex;
            flex-direction: column;
            color: $white;

            .event-detail-node-top {

                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                align-items: stretch;
                padding: $event-detail-left-margin;
                height: $event-detail-primary-image-size;

                .artist-img-wrapper {
                    width: $event-detail-primary-image-size;
                    height: 100%;
                    overflow: hidden;
                }

                .event-detail-node-top-right-section {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    flex-grow: 1;
                    padding-left: $event-detail-left-margin;

                    .event-detail-node-artist-name {
                        @include medium-font(xx-large);
                    }

                    .event-detail-node-event-info {
                        @include regular-font(x-large);
                        padding-top: 15px;
                    }

                    .event-detail-node-share {
                        display: flex;
                        flex-direction: row;
                        padding-top: 15px;
                        padding-bottom: 0;

                        .event-detail-node-share-button {
                            width: $event-detail-share-button-size;
                            height: $event-detail-share-button-size;
                            border-radius: calc(0.5 * #{$event-detail-share-button-size});
                            background-position: center;
                        }

                        .facebook-share-button {
                            @include basic-button($facebook-blue);
                            background-image: url(../images/facebook.svg);
                        }

                        .twitter-share-button {
                            @include basic-button($twitter-blue);
                            background-image: url(../images/twitter.svg);
                            margin-left: 20px;
                        }

                        .event-detail-node-get-tickets-button {
                            @include basic-button($white);
                            @include medium-font(large);
                            color: $black;
                            border-radius: calc(0.5 * #{$event-detail-share-button-size});
                            margin-left: 30px;
                            margin-top: 0;
                            padding-left: 25px;
                            padding-right: 25px;
                            height: $event-detail-share-button-size;
                        }
                    }
                }
            }

            .event-detail-node-bottom {
                @include regular-font(large);

                padding-left: $event-detail-left-margin;
                padding-right: $event-detail-left-margin;
                padding-top: 0;
                padding-bottom: 20px;

                a {
                    @include regular-font(large);
                    color: $white;
                }

                a:visited {
                    color: $white;
                }

                h3 {
                    @include medium-font(large);
                    margin-top: 9px;
                    margin-bottom: 9px;
                }

                .event-detail-node-bio {
                    margin-bottom: 20px;
                }

                .event-detail-node-song-list {
                    table-layout: fixed;
                    width: 100%;
                    margin-bottom: 20px;

                    .event-detail-node-song-list-item {

                        cursor: pointer;

                        &:first-child > td {
                            border-top-left-radius: 4px !important;
                            border-top-right-radius: 4px !important;
                        }

                        &:last-child > td {
                            border-bottom-left-radius: 4px !important;
                            border-bottom-right-radius: 4px !important;
                        }


                        &:nth-child(even) {
                            background-color: rgba($black, .4);
                        }

                        &:nth-child(odd) {
                            background-color: rgba($black, .45);
                        }

                        .contain {
                            display: flex;
                            flex-direction: row;
                            flex-wrap: nowrap;
                            width: 100%;
                            height: 100%;
                            padding-top: 10px;
                            padding-bottom: 10px;

                            .song-name {
                                flex: 1;
                                margin-left: 20px;
                                margin-right: 20px;
                                height: 100%;
                                overflow: hidden;

                                .text {
                                    overflow: hidden;
                                    white-space: nowrap;
                                    text-overflow: ellipsis;
                                    min-width: 0;
                                }
                            }

                            .position {
                                padding-left: 20px;
                                height: 100%;
                                flex: 0 0 auto;
                            }
                        }
                    }
                }
            }
        }

        .secondary {
            border-top: 4px solid $panel-border-color;

            .event-detail-node-top {
                height: $event-detail-secondary-image-size;

                .artist-img-wrapper {
                    width: $event-detail-secondary-image-size;
                }

                .event-detail-node-top-right-section {
                    .event-detail-node-artist-name {
                        @include medium-font(x-large);
                    }
                }
            }

            .event-detail-node-bottom {
                h3 {
                    @include medium-font(medium);
                }

                .event-detail-node-bio {
                    @include regular-font(medium);
                }
            }
        }
    }

    @media screen and (max-width: $mobile-break-width) {
        left: 0;
        width: 100%;
        border: 0;
    }
}

// Music playing animation
@-webkit-keyframes barEQ {
    0% {
        height: 100%;
    }

    50% {
        height: 25%;
    }

    75% {
        height: 75%;
    }

    100% {
        height: 15%;
    }
}

@keyframes barEQ {
    0% {
        height: 100%;
    }

    50% {
        height: 25%;
    }

    75% {
        height: 75%;
    }

    100% {
        height: 15%;
    }
}

@-webkit-keyframes barEQ2 {
    0% {
        height: 15%;
    }

    50% {
        height: 75%;
    }

    75% {
        height: 25%;
    }

    100% {
        height: 100%;
    }
}

@keyframes fade {
    100% {
        height: 15%;
    }
}

@keyframes barEQ2 {
    0% {
        height: 15%;
    }

    50% {
        height: 75%;
    }

    75% {
        height: 25%;
    }

    100% {
        height: 100%;
    }
}

$bar-width: 15%;
$highest-duration: 900ms;
$size: 22px;
$timing-function: linear;

.music-playing {
    position: relative;
    flex: 0 0 auto;
    width: $size;
    height: $size;
    margin-right: 20px;

    &.paused > .bar {
        -webkit-animation-play-state: paused;
        -moz-animation-play-state: paused;
        -o-animation-play-state: paused;
        animation-play-state: paused;
    }
}



.bar {
    position: absolute;
    height: 100%;
    width: 15%;
    bottom: 0;
    float: left;
    background-color: $white;

    &.bar1 {
        left: 0;
        -webkit-animation: barEQ $highest-duration alternate infinite $timing-function;
        animation: barEQ $highest-duration alternate infinite $timing-function;
    }

    &.bar2 {
        left: $bar-width + ((100 - ($bar-width * 4))/3);
        -webkit-animation: barEQ2 $highest-duration alternate infinite $timing-function;
        animation: barEQ2 $highest-duration alternate infinite $timing-function;
        -webkit-animation-delay: -$highest-duration;
        animation-delay: -$highest-duration;
    }

    &.bar3 {
        left: $bar-width * 2 + (((100 - ($bar-width * 4))/3) * 2);
        -webkit-animation: barEQ $highest-duration alternate infinite $timing-function;
        animation: barEQ $highest-duration alternate infinite $timing-function;
        -webkit-animation-duration: $highest-duration * .75;
        animation-duration: $highest-duration * .75;
        -webkit-animation-delay: -$highest-duration * .5;
        animation-delay: -$highest-duration * .5;
    }

    &.bar4 {
        left: 85%;
        -webkit-animation: barEQ2 $highest-duration alternate infinite $timing-function;
        animation: barEQ2 $highest-duration alternate infinite $timing-function;
        -webkit-animation-duration: $highest-duration * .9;
        animation-duration: $highest-duration * .9;
        -webkit-animation-delay: -$highest-duration * .3;
        animation-delay: -$highest-duration * .3;
    }
}
