#filter-bar {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    left: 0;
    top: $header-height;
    height: calc(100% - #{$header-height} - #{$player-height});
    width: $filter-bar-width;
    background-color: $panel-background-color;
    overflow: scroll;
    color: white;
    z-index: 1;

    h3 {
        @include medium-font(medium);
        margin-top: 9px;
        margin-bottom: 9px;
    }

    #filter-bar-day-filter-wrapper {
        padding-left: $filter-bar-left-margin;
        padding-bottom: $filter-bar-left-margin;
        border-bottom: 4px solid $panel-border-color;

        #filter-bar-day-filter {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;

            .filter-toggle {
                margin: 3px;
            }
        }
    }

    #filter-bar-venue-filter-wrapper {
        padding-left: $filter-bar-left-margin;

        #filter-bar-venue-filter {
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            .filter-toggle {
                margin: 3px;
            }
        }
    }

    @media screen and (max-width: $mobile-break-width) {
        top: 0;
        left: 0;
        height: 100%;
        z-index: 0;
        background-color: $panel-border-color;
    }
}
