.filter-toggle {
    @include light-font($font-size--sm);

    display: inline-block;
    text-align: center;
    background-color: $button-color;
    color: $white;
    padding: $button-padding-y $button-padding-x $button-padding-y $button-padding-x;

    border-radius: $default-border-radius;
    cursor: pointer;

    &.selected {
        @include regular-font($font-size--sm);

        background-color: $purple-button-color;

        &:hover {
            background-color: $purple-button-color;
        }
    }
}

.filter-toggle:hover {
    background-color: $purple-button-hover-color;
}

@media screen and (max-width: $mobile-break-width) {
    .filter-toggle {
        padding: $mobile-filter-toggle-padding-y $mobile-filter-toggle-padding-x $mobile-filter-toggle-padding-y $mobile-filter-toggle-padding-x;

        &.selected {
            @include light-font($font-size--sm);
        }
    }
}
