.filter-toggle {
    @include light-font($font-size--md);

    display: inline-block;
    text-align: center;
    background-color: $toggle-background-color;
    color: $white;
    border: 1px solid $white;
    padding: 10px;
    border-radius: $default-border-radius;
    cursor: pointer;

    &.selected {
        @include regular-font($font-size--md);

        color: $white;
        background-color: $purple;
        border: 1px solid $purple;
    }
}

.filter-toggle:hover {
    background-color: $toggle-hover-background-color;
}
