.filter-toggle {
    @include light-font($font-size--sm);

    display: inline-block;
    text-align: center;
    background-color: $button-color;
    color: $white;
    padding-left: $button-padding-x;
    padding-right: $button-padding-x;
    padding-top: $button-padding-y;
    padding-bottom: $button-padding-y;

    border-radius: $default-border-radius;
    cursor: pointer;

    &.selected {
        @include regular-font($font-size--sm);

        background-color: $purple-button-color;

        &:hover {
            background-color: $purple-button-color;
        }
    }
}

.filter-toggle:hover {
    background-color: $purple-button-hover-color;
}
