#filter-bar {
    flex: 0 0 $filter-bar-width;
    overflow-y: scroll;
    color: $white;
    padding-left: $filter-bar-left-padding;
    padding-right: $global-margin;
    padding-top: $global-margin;

    .section {

        background-color: transparent;

        .section-title {
            background-color: transparent;
            padding-left: 0px;
            padding-right: 0px;
        }
    }

    h3 {
        @include regular-font(medium);
        margin-top: 9px;
        margin-bottom: 9px;
    }


    #filter-bar-day-filter-wrapper {

        margin: -3px;

        #filter-bar-day-filter {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;

            &::-webkit-scrollbar {
                display: none;
            }
        }
    }

    #filter-bar-venue-filter-wrapper {
        #filter-bar-venue-filter {
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            &::-webkit-scrollbar {
                display: none;
            }
        }
    }

    &::-webkit-scrollbar {
        display: none;
    }
}

@media screen and (max-width: $medium-break-width) {
    #filter-bar {
        padding-left: $global-margin;
        flex: 0 0 $filter-bar-medium-width;
    }
}

@media screen and (max-width: $mobile-break-width) {
    #filter-bar {
        @include box-sizing(border-box);

        position: absolute;
        left: 50%;
        width: 50%;
        height: $mobile-filter-bar-height;
        padding: $global-margin 0 $mobile-global-margin;
        overflow-y: hidden;

        .section {
            margin-bottom: $mobile-filter-bar-vertical-margin;
            border-radius: 0;

            .section-title {
                display: none;
            }
        }

        #filter-bar-day-filter-wrapper,
        #filter-bar-venue-filter-wrapper {
            padding: $mobile-filter-bar-vertical-padding;
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            align-content: center;

            #filter-bar-day-filter,
            #filter-bar-venue-filter {
                flex: 1 1 auto;
                display: inline-block;
                white-space: nowrap;
                width: 100%;
                overflow-x: scroll;
                -webkit-overflow-scrolling: touch;

                .filter-toggle {
                    margin: 3px;
                }

                :first-child {
                    // margin-left: $mobile-global-margin;
                }
            }
        }
    }
}
