#header {

    @include box-sizing(border-box);

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: $header-height;
    background-color: $section-title-background-color;
    display: flex;
    z-index: 1;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;

    #logo {
        background: url(../images/wv_logo.svg) no-repeat left;
        background-size: contain;
        width: calc(40px);
        height: calc(100% - 30px);
        align-self: center;
        margin-left: $filter-bar-left-padding;
    }

    #week-of-text {
        @include linear-gradient(90deg, #BF66FF  0%, #E666FF  100%);
        @include medium-font(15px);
        @include background-clip(text);
        -webkit-text-fill-color: transparent;

    }

    .question-mark {
        @include box-sizing(border-box);
        width: calc(#{$header-height} - 30px);
        height: calc(#{$header-height} - 30px);
        // background: url(../images/questions-of-life.svg) no-repeat left;
        // background-size: contain;
        align-self: center;
        margin-right: $event-playlist-right-padding;
        border: 1px solid $light-gray;
        border-radius: 50%;

        path {
            fill: $light-gray;
        }

        &:hover {
            border-color: $white;
            path {
                fill: $white;
            }
        }

        &:active {
            border-color: $white;
            path {
                fill: $white;
            }
        }

    }

    .buttons {
        display: none;
        flex: 1 1 auto;
        text-align: right;
        margin-right: $global-margin;

        .header-button {
            @include light-font($font-size--md);

            text-align: left;
            color: $gray;
            cursor: pointer;

            &.active {
                color: $white;
            }

            &:first-child {
                margin-right: $global-margin;
            }
        }
    }
}

@media screen and (max-width: $medium-break-width) {
    #header {
         #logo {
                margin-left: $global-margin;
         }

        .question-mark {
            margin-right: $global-margin;
        }

    }

}

@media screen and (max-width: $mobile-break-width) {

    #header {
        justify-content: flex-start;

        #mobile-filter-button {
            display: flex;
            flex-basis: $header-button-width;
            height: 100%;
            background: url(../images/filter.svg) no-repeat center;
            background-size: $header-button-width auto;
            background-color: $global-background-color;
            margin-left: 20px;
        }

        #mobile-event-playlist-button {
            display: flex;
            flex-basis: $header-button-width;
            height: 100%;
            margin-right: 20px;
            background: url(../images/event_calendar.svg) no-repeat center;
            background-size: $header-button-width auto;
        }

        #question-mark, #week-of-text {
            display: none;
        }

        .buttons {
            display: block;
            flex: 1 1 auto;
            text-align: right;
            margin-right: $global-margin;

            .header-button {
                @include light-font($font-size--md);

                display: inline-block;
                text-align: left;
                color: $gray;
                cursor: pointer;

                &.active {
                    color: $white;
                }

                &:first-child {
                    margin-right: $global-margin;
                }
            }
        }
    }
}
