#header {

    @include box-sizing(border-box);

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: $header-height;
    background-color: $section-title-background-color;
    display: flex;
    z-index: 1;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;

    #logo {
        flex: 1 1 auto;
        background: url(../images/wv_logo.svg) no-repeat left;
        background-size: contain;
        height: calc(100% - 30px);
        align-self: center;
        margin-left: $filter-bar-left-padding;
    }

    .buttons {
        flex: 1 1 auto;
        text-align: right;
        margin-right: $global-margin;

        .header-button {
            @include light-font($font-size--md);

            display: none;
            text-align: left;
            color: $gray;
            cursor: pointer;

            &.active {
                color: $white;
            }

            &:first-child {
                margin-right: $global-margin;
            }
        }
    }
}

.about-modal {
    @include medium-font($font-size--sm);

    position: absolute;
    top: 50%;
    left: 50%;
    right: auto;
    bottom: auto;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    background-color: clear;
    border-radius: 3px;
    background-color: rgba(255, 255, 255, 0.6);
    color: black;
    text-align: center;
    padding: 5px;
}

.about-modal-overlay {
    position: fixed;
    width: 20%;
    height: 20%;
    top: 50px;
    right: 10px;
}

@media screen and (max-width: $medium-break-width) {
    #header #logo {
        margin-left: $global-margin;
    }
}

@media screen and (max-width: $mobile-break-width) {

    #header {
        #mobile-filter-button {
            display: flex;
            flex-basis: $header-button-width;
            height: 100%;
            background: url(../images/filter.svg) no-repeat center;
            background-size: $header-button-width auto;
            background-color: $global-background-color;
            margin-left: 20px;
        }

        #mobile-event-playlist-button {
            display: flex;
            flex-basis: $header-button-width;
            height: 100%;
            margin-right: 20px;
            background: url(../images/event_calendar.svg) no-repeat center;
            background-size: $header-button-width auto;
        }

        .buttons {
            .header-button {
                display: inline-block;
            }
        }
    }
}
