#header {

    @include box-sizing(border-box);

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: $header-height;
    background-color: $section-title-background-color;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;

    #logo {
        flex: 1 1 auto;
        background: url(../images/wv_logo.svg) no-repeat left;
        background-size: contain;
        height: calc(100% - 30px);
        align-self: center;
        margin-left: $global-margin;
    }

    .buttons {
        flex: 1 1 auto;
        text-align: right;
        margin-right: $global-margin;

        .header-button {
            @include light-font($font-size--md);

            display: none;
            text-align: left;
            color: $gray;
            cursor: pointer;

            &.active {
                color: $white;
            }

            &:first-child {
                margin-right: $global-margin;
            }
        }
    }
}

@media screen and (max-width: $tiny-break-width) {
    #logo {
        width: 100px;
    }
}

@media screen and (max-width: $mobile-break-width) {

    #header {
        #mobile-filter-button {
            display: flex;
            flex-basis: $header-button-width;
            height: 100%;
            background: url(../images/filter.svg) no-repeat center;
            background-size: $header-button-width auto;
            background-color: $global-background-color;
            margin-left: 20px;
        }

        #mobile-event-playlist-button {
            display: flex;
            flex-basis: $header-button-width;
            height: 100%;
            margin-right: 20px;
            background: url(../images/event_calendar.svg) no-repeat center;
            background-size: $header-button-width auto;
        }

        .buttons {
            .header-button {
                display: inline-block;
            }
        }
    }
}
