.loading {

    @include regular-font(20px);

    animation: blinker 2s ease-in infinite;
    bottom: 20px;
    color: $white;
    opacity: 0;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;
    position: absolute;
    right: 20px;
    text-shadow: 0 0 2px $white;
}

.fadeIn-enter {
    opacity: 0.01;
}

.fadeIn-enter.fadeIn-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.game-canvas-container {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;

    canvas {
        position: absolute;
        // z-index: 3;
    }
}

.loading-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $global-background-color;
    z-index: 3;

    .center-wrapper {
        position: absolute;
        width: 100%;
        height: 100%;
        display:flex;
        justify-content: center;
        align-items: center;
        z-index: 4;
    }

    .logo-wrapper {
        // @include radial-gradient(#212121 30%, rgba(0, 0, 0, 0) 70%);
        box-sizing: border-box;
        display: block;
        margin:auto;
        // width: 50%;
        text-align: center;
        padding: $loading-logo-padding;

        .logo {
            margin: auto;
            width: $loading-logo-size;
            height: $loading-logo-size;
            background-size: 100%;
            background-repeat: no-repeat;
            background-image: url(../images/wv_logo.svg);
        }

        .quote {
            @include regular-font($font-size--md);
            width: 100%;
            color: white;
        }
    }

}

@keyframes blinker {
    80% {
        opacity: 1;
    }

    20% {
        opacity: 1;
    }

    0% {
        opacity: 0;
    }

}
