// Music playing animation
@-webkit-keyframes barEQ {
    0% {
        height: 100%;
    }

    50% {
        height: 25%;
    }

    75% {
        height: 75%;
    }

    100% {
        height: 15%;
    }
}

@keyframes barEQ {
    0% {
        height: 100%;
    }

    50% {
        height: 25%;
    }

    75% {
        height: 75%;
    }

    100% {
        height: 15%;
    }
}

@-webkit-keyframes barEQ2 {
    0% {
        height: 15%;
    }

    50% {
        height: 75%;
    }

    75% {
        height: 25%;
    }

    100% {
        height: 100%;
    }
}

@keyframes fade {
    100% {
        height: 15%;
    }
}

@keyframes barEQ2 {
    0% {
        height: 15%;
    }

    50% {
        height: 75%;
    }

    75% {
        height: 25%;
    }

    100% {
        height: 100%;
    }
}

$bar-width: 15%;
$highest-duration: 900ms;
$size: 22px;
$timing-function: linear;

.music-playing {
    position: relative;
    width: $size;
    height: $size;

    &.paused > .bar {
        -webkit-animation-play-state: paused;
        -moz-animation-play-state: paused;
        -o-animation-play-state: paused;
        animation-play-state: paused;
    }
}



.bar {
    position: absolute;
    height: 100%;
    width: 15%;
    bottom: 0;
    float: left;
    background-color: $white;

    &.bar1 {
        left: 0;
        -webkit-animation: barEQ $highest-duration alternate infinite $timing-function;
        animation: barEQ $highest-duration alternate infinite $timing-function;
    }

    &.bar2 {
        left: $bar-width + ((100 - ($bar-width * 4))/3);
        -webkit-animation: barEQ2 $highest-duration alternate infinite $timing-function;
        animation: barEQ2 $highest-duration alternate infinite $timing-function;
        -webkit-animation-delay: -$highest-duration;
        animation-delay: -$highest-duration;
    }

    &.bar3 {
        left: $bar-width * 2 + (((100 - ($bar-width * 4))/3) * 2);
        -webkit-animation: barEQ $highest-duration alternate infinite $timing-function;
        animation: barEQ $highest-duration alternate infinite $timing-function;
        -webkit-animation-duration: $highest-duration * .75;
        animation-duration: $highest-duration * .75;
        -webkit-animation-delay: -$highest-duration * .5;
        animation-delay: -$highest-duration * .5;
    }

    &.bar4 {
        left: 85%;
        -webkit-animation: barEQ2 $highest-duration alternate infinite $timing-function;
        animation: barEQ2 $highest-duration alternate infinite $timing-function;
        -webkit-animation-duration: $highest-duration * .9;
        animation-duration: $highest-duration * .9;
        -webkit-animation-delay: -$highest-duration * .3;
        animation-delay: -$highest-duration * .3;
    }
}
