#player {
    @include box-sizing(border-box);

    z-index: 1;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: $player-height;
    background-color: $panel-background-color;
    font-size: 20px;
    color: $white;
    text-transform: uppercase;
    border-top: 4px solid $panel-border-color;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    // @media screen and (max-width: $player-width) {
    //     border-right: 0;
    // }
}

// Constants
$player-buttons-size: 20px;
$player-play-pause-button-size: 40px;
$player-conrols-hover-opacity: .7;
$player-info-padding: 10px;
$player-info-font-size: 18px;
$time-font-size: 16px;
$time-width: 40px;
$player-control-padding: 10px;

#player-controls {

    flex: 1;
    max-width: $filter-bar-width;
    display: flex;
    height: 100%;
    flex-direction: row;
    flex-wrap: nowrap;

    .player-control-container {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .player-control-button {
            cursor: pointer;
            height: $player-buttons-size;
            width: $player-buttons-size;
            background-size: 100%;
            background-repeat: no-repeat;

            &:hover {
                opacity: $player-conrols-hover-opacity;
            }
        }
    }

    #back-button {
        background-image: url(../images/previous.svg);
        background-position: 0 2px; // correction for now, should fix image
        align-self: flex-end;
        margin-right: $player-control-padding;
    }

    #pause-play {
        background-image: url(../images/pause.svg);
        width: $player-play-pause-button-size;
        height: $player-play-pause-button-size;
        align-self: center;

        &.play {
            background-image: none;
            border: 1px solid $white;
            border-radius: 25px;
        }
    }

    #next-button {
        background-image: url(../images/next.svg);
        background-position: 0 2px; // correction for now, should fix image
        align-self: flex-start;
        margin-left: $player-control-padding;
    }
}

#player-info {

    flex: 1;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: $player-info-padding;
    padding-right: $player-info-padding;

    #player-info-content {
        display: block;
        overflow: hidden;

        #artist-name {
            @include medium-font($player-info-font-size);
            width: 100%;
            display: block;
            padding-bottom: 5px;
            position: relative;
        }

        #song-name {
            @include regular-font($player-info-font-size);
            max-width: 100%;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
    }
}

#player-duration-bar {

    flex: 2;
    height: 100%;

    table {
        width: 100%;
        height: 100%;
        display: fixed;
    }

    #current-time {
        @include regular-font($time-font-size);
        width: $time-width;
        padding-right: 10px;
        color: $gray;
    }

    #bar-container {
        width: 100%;
        padding-left: calc(#{$player-info-padding} * 2);
        padding-right: calc(#{$player-info-padding} * 2);

        #outer-bar {
            background-color: lighten($panel-border-color, 10%);
            width: 100%;
            height: 8px;
            border-radius: 4px;
            position: relative;

            #inner-bar {
                position: absolute;
                top: 0;
                left: 0;
                width: 75%;
                height: 100%;
                border-top-left-radius: 4px;
                border-bottom-left-radius: 4px;
                background-color: $purple;
            }
        }
    }

}
