#player {
    @include box-sizing(border-box);

    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: $player-height;
    background-color: $section-title-background-color;
    font-size: 20px;
    color: $white;
    border-top: 1px solid $section-title-background-color;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}

// Constants
$player-buttons-size: 16px;
$player-play-pause-button-size: 39px;
$player-conrols-hover-opacity: .7;
$time-font-size: 16px;
$time-width: 60px;
$player-control-padding: 10px;
$time-bar-height: 6px;
$seeker-size: 13px;

#player-controls {
    display: flex;
    flex: 0 1 $player-controls-width;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding-left: $player-controls-left-padding;
    padding-right: $player-controls-right-padding;

    .player-control-button {
        flex: 0 0 $player-buttons-size;
        cursor: pointer;
        height: $player-buttons-size;
        background-size: 100%;
        background-repeat: no-repeat;
    }

    #back-button {
        background-image: url(../images/previous-disabled.svg);

        &:hover {
            background-image: url(../images/previous-white.svg);
        }
    }

    #pause-play {
        background-image: url(../images/pause-disabled.svg);
        background-repeat: no-repeat;
        background-position: 54%;
        background-size: 25%;
        flex: 0 0 $player-play-pause-button-size;
        height: $player-play-pause-button-size;
        border-radius: calc(#{$player-play-pause-button-size});
        border: solid 2px $off-white;

        &:hover {
            border: solid 2px $white;
            background-image: url(../images/pause-white.svg);
        }

        &.play {
            background-image: url(../images/play-disabled.svg);

            &:hover {
                background-image: url(../images/play-white.svg);
            }
        }
    }

    #next-button {
        background-image: url(../images/next-disabled.svg);
        background-position: 0 2px; // correction for now, should fix image

        &:hover {
            background-image: url(../images/next-white.svg);
        }
    }
}

#player-info {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: $player-info-width;
    padding: 0 0 0 $player-info-right-padding;

    #player-info-content {
        display: block;
        overflow: hidden;
        color: $white;

        #artist-name {
            @include light-font($font-size--sm);
            max-width: 100%;
            padding-bottom: 3px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }

        #song-name {
            @include light-font($font-size--sm);
            max-width: 100%;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
    }
}

#player-duration-bar {
    flex: 1;
    display: flex;
    flex-direction: row;

    #current-time,
    #song-duration {
        @include light-font($font-size--sm);
        flex: 0 0 $time-width;
    }
}

.rc-tooltip {
    display: none;
}

.player-bar {
    flex: 1;
    height: $time-bar-height;
    align-self: center;
    padding-right: $global-margin;
    cursor: pointer;

    .rc-slider {
        height: $time-bar-height;
        background-color: $gray;

        .rc-slider-handle {
            height: $seeker-size;
            width: $seeker-size;
            margin-top: calc(#{$time-bar-height} / -2);
            border: 0;
            box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.5);
        }

        .rc-slider-track {
            height: $time-bar-height;
            background-color: $purple;
        }

        .rc-slider-step {
            height: $time-bar-height;
        }
    }
}

#player-volume-bar {
    display: flex;
    align-items: center;
    width: $player-volume-bar-width;
    padding: 0 $player-volume-bar-right-padding 0 $player-volume-bar-left-padding;

    .player-volume-left-icon {
        height: $player-volume-bar-icon-size;
        margin-right: 10px;
        flex: 0 0 $player-volume-bar-icon-size;

        background-image: url(../images/volumeactive-purple.svg);
        background-repeat: no-repeat;
        background-position: 0 1px;
    }
}

@media screen and (max-width: $mobile-break-width) {

    #player-duration-bar {
        position: absolute;
        padding: 0;
        width: 100%;
        left: 0;
        top: -$time-bar-height;
        height: auto;

        #song-duration,
        #current-time {
            display: none;
        }

        .player-bar {
            padding-right: 0;

            .rc-slider {
                border-radius: 0;

                .rc-slider-track {
                    border-radius: 0;
                }
            }
        }
    }

    #player-info {
        flex: 1;
        padding-right: $global-margin;
    }

    #player-volume-bar {
        display: none;
    }
}
