#home-page {

    // @include linear-gradient($g1-start, $g1-end);

    position: relative;

    height: 100%;
    min-height: $doc-min-height;
    min-width: $doc-min-width;
    width: 100%;
    overflow: hidden;
    background-color: blue;

}

#middle-content {
    position: fixed;
    bottom: $player-height;
    top: $header-height;
    left: 0;
    right: 0;
}
